{% extends "base.html" %}

{% block content %}
<div id="content" class="d-flex justify-content-center">
</div>

<script>
    $("#content")[0].innerHTML = marked.parse(`{{ t }}`)
</script>

<style>
    table { border-width: 1px; border-collapse: collapse; }
    tr { border-width: 1px; border-bottom: solid 1px black; }
    th { border-width: 1px; background-color: #f2f2f2;}
    td { border-width: 1px; }
    thead { border-width: 1px; }
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>
{% endblock %}